<!DOCTYPE html>
<html>
<head>
	<title>Angular UI Test DnD</title>
	<script src="js/angular.js"></script>
	<script src="js/angular-drag-and-drop-lists.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/temp2controller.js"></script>
	<script src="js/jquery-3.0.0.js"></script>
	<script src="js/angular-dragdrop.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="customStyles.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

</head>
<body ng-app="dropTests">
	<div class="nav">
		<div class="nav col-md-4" ></div>
		<div class="nav col-md-4" >
			<nav class="navbar navbar-light bg-faded">
				<ul class="nav navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Publish <span class="sr-only">(current)</span></a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="#">View JSON</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Export JSON</a>
					</li>
				</ul>
			</nav>	
		</div>
		<div class="nav col-md-4" ></div>
	</div>	
	<div class="left panel col-md-3" ng-controller="TestCtrl" >
		<h2>Page list</h2>
		<button type="button" class="btn" ng-click="">+</button>
		<button type="button" class="btn" ng-click="">-</button>
		<div class="pageList">
			<ul class="list-group" ng-controller="ListCtrl">
				<li class="list-group-item" ng-repeat="page in pages">
						<h4><a href="#" ng-click="showDetails = ! showDetails">{{page.name}}</a></h4></li>
							<div class="page-details" ng-class="{'hidden': ! showDetails}">
						<p>Page :{{page.number}}</p>	
					</div>
				</li>
			</ul>			
		</div>

        
         <div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">
            <p>Number of patient discharges: {{procedure.discharged}}</p>
         </div>
    </li>
</ul>
		<!-- <div dropper></div> -->
		<!-- <ul class="pageList">
	</ul> -->
	<!-- <panel title="Personal Data" edit="#/employee/{{employee.id}}/edit"></panel> -->

</div>
<div class="content panel col-md-6" ng-controller="TwoCtrl"><h1>Content Area</h1>
	<div img-directive data="img">AA</div>
	<div ng-view></div>
</div>
<div class="right panel col-md-3" ng-controller="TestCtrl"><h1>Elements</h1>
	<ul class="list-group">
		<li><button my-Draggable data="img" class="list-group-item"></button></li>
		<li><button my-Draggable data="txt" class="list-group-item"> </button></li>
	</ul>
</div>
</body>

</html>